/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* custom css tag */

body{
    font-family: 'Poppins', sans-serif;
}

.bg-cu{
    background-color: #F4FAFD;
}

.f-icon{
    color: #ffffff;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 0.15em;
    transition: all 0.4s;
}

.font-size{
    font-size: 3em;
}


.f-icon:hover{
    color: rgb(31, 28, 28);
    background-color: #ffffff;
}

@media screen and (max-width:576px) {
    .sm-text-hide{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .font-size{
        font-size: 1.5em;
    }
}